.masthead.bg-primary {
  background-color: #ff0064!important;
}

.bg-secondary {
  background-color: #20252a!important;
}

.text-secondary {
  color: #20252a!important;
}

.bg-primary {
  background-color: #20252a!important;
}

.footer {
  background-color: #20252a!important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #20252a!important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary {
  background-color: #ff0064!important;
  border-radius: 10px;
  border: #ff0064;
}

.copyright {
  background-color: #20252a;
}

.btn-outline-light {
  color: #ffffff;
  background-color: #FF0064!important;
}

.btn-outline-light:hover {
  color: #ff0064;
}

.btn-outline-light {
  background-color: #fff!important;
  color: #ff0064;
  border-radius: 35px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #ffffff;
}

a:active, a:focus, a:hover {
  background-color: #ff0064;
  border-radius: 40px;
}

a:hover {
  color: #ff0064;
  text-decoration: underline;
}

#mainNav .navbar-brand:hover {
  background-color: transparent;
}

.portfolio .portfolio-item .portfolio-item-caption {
  background-color: #ff0064;
}

